pkgbase = python-lark-parser
	pkgdesc = A modern parsing library
	pkgver = 1.1.9
	pkgrel = 3
	url = https://github.com/lark-parser/lark
	arch = any
	license = MIT
	checkdepends = python-js2py
	checkdepends = python-tzlocal
	checkdepends = python-atomicwrites
	checkdepends = python-regex
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-typing_extensions
	optdepends = python-atomicwrites: for atomic_cache
	optdepends = python-regex: for regex support
	optdepends = python-js2py: for nearley support
	provides = python-lark
	source = python-lark-parser::git+https://github.com/lark-parser/lark#commit=262ab71d497a8814f0ca42ca468b923fdb47a3c7
	source = github.com-Hardmath123-nearley::git+https://github.com/Hardmath123/nearley
	b2sums = SKIP
	b2sums = SKIP

pkgname = python-lark-parser
